/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
/* GENERAL */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(#32a093 15%, #dbe0dd 15% 100%);
}
li {
  list-style: none;
}

/* UTILITIES */
.container {
  width: 85%;
  height: 95%;
  min-width: 900px;
}

/* specific styles */
/* ASIDE */
.contacts {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
}
/* aside header */
aside header {
  height: 9%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #ededed;
}
.user {
  width: 70%;
}
.user-image {
  height: 100%;
  vertical-align: middle;
  border-radius: 50%;
}
.user-name {
  font-size: 14px;
  font-weight: 500;
  margin-left: 5px;
}
/* aside header options */
aside .options {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
aside .options > * {
  color: #bababa;
  display: inline;
  vertical-align: middle;
  line-height: 100%;
}
/* aside notification */
.notification {
  display: flex;
  background-color: #a2dffe;
  padding: 15px;
}
.bell {
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a2dffe;
  background-color: white;
  border-radius: 50%;
}
.bell-text > * {
  display: block;
  line-height: 20px;
  margin: 0px 10px;
}
.bell-text span:first-child {
  font-size: 14px;
}
.bell-text span:last-child {
  font-size: 0.8rem;
  color: #888787;
}
/* aside search */
.search {
  display: flex;
  padding: 8px;
  background-color: #ededed;
}
.search button {
  width: 20%;
  height: 30px;
  display: inline-block;
  background-color: white;
  border: 0.5px solid rgb(235, 231, 231);
  color: #bababa;
}
.search input {
  width: 80%;
  height: 100%;
  padding: 5px;
  display: inline-block;
  background-color: white;
  border: 0.5px solid rgb(233, 230, 230);
  color: #bababa;
}

.contacts-list {
  flex-grow: 1;
  background-color: white;
}
.contact {
  height: 75px;
  padding: 10px;
  background-color: white;
}
.contact span {
  margin-left: 10px;
}
